# Maven #
target/
dependency-reduced-pom.xml

# IDEA #
.idea/
*.iml
*.iws

# Eclipse #
.settings/
.metadata/
.classpath
.project
Servers/

# Mac #
.DS_Store

# log #
# log file but not log folder#
log/*.log
log/out/*.log.gz
*.log

# api #
*.http

